
body{
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  
  
}
header,nav
,main,footer{
  border: 2px solid transparent;
  border-radius: 20px;
}
h2, p{
  float:center ;
  color: white;

}
.me{
  margin-left: 500px;
  float: center;
 
}
h1{
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  color: greenyellow;
} 
.acerca{
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  color: white;
}

.pa{
  text-align: center;
  font-family: cursive;
  font-size: 25px;
  color: white;
  }

nav{
  font-size: 40px;
  font-family: cursive;
  text-align: center;
  color: white;
}
.proyecto{
  color: deepskyblue;
}
ul,li{
  font-size: 25px;
  font-family: cursive;
  color: white;
}
.links{
  text-align: center;
  font-family: cursive;
  font-size: 25px;
  margin-left: 16rem;
  color: greenyellow;
  
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .me{
    margin-left: 3rem;
    width: 200px;
    max-width: 100%;
  }
  .links{
    text-align: center;
    margin-left: 7rem;
  max-width: 100%;
  }

 header,nav
 ,main,footer{
  border: 2px solid transparent;
  border-radius: 20px;
  max-width: 100%;
}
  }

@media screen and (min-width: 769px) and (max-width: 1224px) {
  .me{
    margin-left: 10rem ;
  }
  .links{
    text-align: center;
    margin-left: 7rem;
    max-width: 100%;
  }
  header,nav
,main,footer{
  border: 2px solid transparent;
  border-radius: 20px;
  max-width: 100%;
}
  
}